@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  justify-content: center;
}

body {
  min-width: 320px;
  min-height: 20vh;
  background-color: #f1f1f1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body .dark-mode {
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*:::::: Barra de desplazamiento ::::::*/

/* Ancho */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Color del track en modo oscuro */
.dark-mode ::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle al posar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
