.errorModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorModal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 33rem;
  min-height: 12rem;
  max-width: 80%;
}

.errorModal h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.error {
  font-size: 1.1rem;
}

.errorModal details {
  margin-bottom: 1.2rem;
}

.scrollable {
  width: auto;
  overflow-y: scroll;
  word-break: keep-all;
  white-space: break-spaces;
  height: 222px;
  margin-bottom: 2rem;
  word-wrap: normal;
  background-color: #e9e9e9;
}

.scrollable p {
  color: tomato;
  font-size: 1rem;
}

.errorModal button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.errorModal button:active {
  background-color: #58c9e5;
}
