@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.main_container {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: block;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
  text-align: left;
  width: 100vw;
  height: 100vh;
}

.main_container header {
  display: flex;
  justify-content:space-between;
  width: 100%;
  height: 12rem;
  background-color: #58c9e5;
  position: relative;
  margin-bottom: 5rem;
}

.main_container header h1 {
  color: rgb(23, 23, 23);
  cursor: default;
  user-select: none;
  font-size: 2.6rem;
  text-align: center;
  width: fit-content;
  display: block;
  margin-left: 22rem;
  padding-top: 6rem;
}

.main_container h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  border-radius: 0.2rem;
  width: fit-content;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.main_container h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  border-radius: 0.2rem;
  /* width: fit-content; */
  padding: 0 1rem;
}

.main_container p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 0 1rem;
  line-height: 1rem;
}

.main_container main {
  display: block;
  justify-content: space-between;
  padding: 0 1rem;
}

.main_container section {
  position: relative;
  padding: 0.5rem 6%;
  width: 100%;
}

.image_container {
  border-radius: 90%;
  width: 14rem;
  height: 14rem;
  position: absolute;
  left: 5rem;
  bottom: -40%;
  background-color: #f5f5f5;
  margin-left: 1.2em;
  user-select: none;
}

.image_container img {
  width: 100%;
  height: 100%;
  border-radius: 90%;
}

.chat_buttons {
  display: flex;
  align-self: flex-end;
}

.chat_button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  height: fit-content;
  margin-top: auto;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.chat_button:hover {
  border: 0;
}

.container_infouser {
  cursor: default;
}

.container_infouser > hr {
  width: 90%;
  margin: 0 auto;
}

.infouser_main h1,
.infouser_main h3 {
  width: fit-content;
  padding: 0 1rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.user_location {
  font-style: italic;
  margin: 0 1rem;
}

.user_bio {
  margin-top: 1rem;
}
.user_bio h3 {
  line-height: 1.8;
}

@media screen and (max-width: 845px) {
  .main_container {
    overflow-y: visible;
  }

  .infouser_main h1 {
    font-size: 2.5rem;
  }

  .infouser_main h2 {
    font-size: 2rem;
  }

  .image_container {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .main_container {
    padding-top: 3rem;
    overflow-y: scroll;
  }

  .image_container {
    margin-left: 0;
  }
}

@media screen and (max-width: 758px) {
  .main_container header {
    justify-content: space-between;
  }
  .main_container header h1 {
    display: none;
  }

  .main_container section h1,
  .main_container section h3 {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .main_container {
    /* width: 100%; */
    border-radius: 0;
    margin: 0;
    overflow-y: scroll;
    /* min-height: 100vh; */
  }

  .image_container {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .infouser_main h3 {
    text-align: center;
  }
}

@media screen and (max-width: 590px) {
  .chat_buttons {
    flex-direction: column;
  }
  .chat_buttons button {
    margin-top: .7rem;
  }
}

:global(.dark-mode) .main_container {
  background-color: #383636;
}

:global(.dark-mode) .main_container h2,
:global(.dark-mode) .main_container h1 {
  color: #fff;
}
:global(.dark-mode) .main_container h3,
:global(.dark-mode) .main_container p {
  color: #d9d9d9;
}

:global(.dark-mode) .main_container header {
  background-color: #242424;
}

:global(.dark-mode) .main_container header h1 {
  color: #fff;
}

:global(.dark-mode) .image_container {
  background-color: #383636;
}
