.chat_header {
  background-color: #f5f5f5;
  height: 3.6rem;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
  cursor: default;
  user-select: none;
}

.chat_header section {
  display: flex;
  align-items: center;
}

.chat_header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: medium;
}

.chat_header p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.chat_header details div {
  padding: 0.3rem;
  background-color: #f5f5f5;
  position: absolute;
  border-radius: 0 0 6px 6px;
  box-shadow: rgb(0 0 0 / 25%) -2px 6px 6px 1px;
}

/* @media screen and (max-width: 590px) {
  .chat_header section svg {
    display: flex;
  }
} */

:global(.dark-mode) .chat_header {
  background-color: #242424;
  border-bottom: 1px solid #383836;
}
:global(.dark-mode) .chat_header h2 {
  color: #fff;
}
:global(.dark-mode) .chat_header h2:hover {
  color: #d9d9d9;
}
