.message_actions {
  position: absolute;
  right: 0%;
  bottom: -25%;
  z-index: 222;
  padding: 3px 3px 0 3px;
  background-color: lightgrey;
  border-radius: 10px;
  opacity: 96%;
}

.message_actions button {
  margin: 0 .2rem;
  color: #383836;
}
.message_actions button:hover {
  color: #5f5f5f;
}
/* 
:global(.dark-mode) .message_actions button {
  color: #d9d9d9;
} */