/* Estilos base para la barra de navegación */
.navbar {
  width: 60px;
  height: 100%;
  background-color: #58C9E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-evenly;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.125);
  z-index: 333;
  cursor: default;
}

.navbar p {
  color: rgb(255, 255, 255);
  margin-top: -3.6rem;
  font-size: medium;
}

/* Estilos para los botones */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 0;
  height: 6vh;
  width: 60%;
  min-width: 43px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}

/* Estilos de los íconos */
.icon-light,
.icon-dark {
  color: white;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    /* border: 1px solid grey; */
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    max-height: 60px;
    padding: 10px;
    background-color: #58C9E5;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar p {
    display: none;
  }

  .button {
    margin: 0.5rem;
    height: 6vh;
    width: 4vw;
    min-width: 2.7rem;
  }

  .dark-mode {
    margin-top: 0;
  }
}

/* Estilos en modo oscuro */
:global(.dark-mode) .container,
:global(.dark-mode) .navbar,
:global(.dark-mode) .button {
  background-color: #383636;
}

:global(.dark-mode) .navbar p {
  color: #9ac2ef;
}
